body {
	background-color: #4682B4;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 3px solid white;
  background-color: #4682B4;
}

.container h1 {
	padding-top: 20px;
	 color:white;
	 text-align: center;
}

.container ul {
	/*color: #2F4F4F;*/
	list-style-type: none;
}

.container h2 {

}

.button {
}

#footer {
	width: 100%;
	text-align: center;
	color: #2F4F4F;
}

#spidey {
	display: block;
	margin-left: auto;
	margin-right: auto;
}