body {
	background-image:url('/img/notepad.jpg');
	/*background-image:url('/img/wood_planks.jpg');*/
	/*background-image:url('/img/notepad.jpg');*/
}
.error404 {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 6em 20px 20px 20px;
}

.container h1 {
	padding-top: 20px;
	color: #191970;
	text-align: center;
}

.list {
	list-style-type: none;
}

.list_everything {
	list-style-type: none;
	text-align: center;
	text-decoration: none;
}

.list_everything li {
	padding: 10px;
	font-size: 20px;
}

.easter_egg {
	font-size: 10px;
}

img#spidey {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius:10px;
	opacity:0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

#term {
	padding-top: 10px;
	text-align: center;
}

#card form {
	display: block;
	text-align: center;
}

#card li {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

#results {
	list-style-type: none;
}

#footer {
	width: 100%;
	text-align: center;
	color: #8B008B;
}
