<div id="footer">
  	<h3>Lovingly handwritten by: </h3>
  		<h4>
	  		<ul id="team-photos">
		  		<li><img src="/img/about/jaredstander.jpg"></img><br> Jared Stander</li>
		  		<li><img src="/img/about/adamloo.jpg"></img><br> Adam Loo</li>
		  		<li><img src="/img/about/danielhossom.jpg"></img><br> Dan Hossom</li>
		  		<li><img src="/img/about/ericchen.png"></img><br> Eric Chen</li>
		  	</ul>
  		</h4>
	</h3>	
	<div class='easter_egg'>easter time!</div>
	<img id="spidey" src="/img/spidey_wtf.jpg" height="184", width="250">
</div>
