<div id="footer">
  	<h3>Coded by: <br>Jared Stander, Adam Loo, Dan Hossom and Eric Chen</h3>
	
	<div class='easter_egg'>easter time!</div>
	<img id="spidey" src="/img/spidey_wtf.jpg" height="184", width="250">
</div>
