<div>TEST</div>
<br>
<br>
<div class="container">
    <div>Term: <%= @card.definition %></div>
    <form action='/deck/<%= @deck_id %>/card/new' method='post'><br>
      <li>Guess: <input type='text' name='guess'/></li>
      <input type='hidden' name = 'card_id' value = <%= @card.id %> >
      <br>
      <li><input type='submit'/></li>
    </form>

</div>
