<div>TEST</div>
<br>
<br>
<div class="container">
  <% if @card %>
    <div>Term: <%= @card.term %></div>
      <form action='/round/deck/<%= @deck_id %>/card/<%= @card.id + 1 %>' method='get'>
      <br>
      <li>Guess: <input type='text' name='guess'/></li>
      <br>
      <li><input type='submit'/></li>
    </form>
  <% end %>
</div>
