<head>
<link rel="stylesheet" href="../../public/css/normalize.css">
<link rel="stylesheet" href="../../public/css/main.css">
<div class="container">
  <h1>Welcome to Deck Rounds</h1>

  <ul>
    <form action='/create' method='post'>
      Create an account:<br>
      <li>Username<input type='text' name='name'/></li><br>
      <li>Password<input type='text'name='password'/></li><br>
      <li><input type='submit'/></li>
    </form>
  </ul>

  <ul>
    <form action='/login' method='post'>
      Login:<br>
      <li>Username<input type='text' name='name'/></li><br>
      <li>Password<input type='text'name='password'/></li><br>
      <li><input type='submit'/></li>
    </form>
  </ul>
  <br>
  <% if @message %>
    <div><%= @message %></div>
  <% end %>
</div>
</head>
