<!DOCTYPE html>
<html lang="en">
<head>

  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>quiz.me - create quiz decks, test your friends, test yourself</title>
</head>
<body>
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="nav">
        <li><a href="/">quiz.me</a></li>
        <% if session.empty? == false %><li><a href="/logout">Logout</a></li>
        <% elsif session.empty? %><li><a href="#">Login</a></li><% end %>
        <li><a href="/about">About</a></li>
        <li><a href="/results/all">Stats</a></li>
        <li><a href="/decks">Create Quiz</a></li>
    </ul>
  </div>
  
  <%= yield %>
</body>
</html>
