<div class="error404">
    <h3>Aw shit...</h3>
    <p>Get back to coding! Or you can just go <a href='/'>home</a>.</p>
    <p>Just forget you ever saw this...</p>
    <img src="http://devbootcamp.com/imgs/faq-page/500_DBC_120801_H.jpg">
</div>
<br><br>


