<div class="404error">
    <p>Aw shit...</p>
    <p>Get back to coding! Or you can just go <a href='/'>home</a>.</p>
    <p>Just forget you ever saw this...</p>
</div>
<br><br>
<img src="http://devbootcamp.com/imgs/faq-page/500_DBC_120801_H.jpg">

