<div class="container">
  <h1>Select a Deck You Want to Play:</h1>
    <ul>
      <% @decks.each do |deck| %>
        <li><a href='/round/<%=deck.id %>'><%= deck.name %></a></li>
      <% end %>
    </ul>
</div>
