<div class="container">
	<h2>Select a Deck You Want to Play:</h2>
	<div class="list_deck">
    <ul>
			<% @decks.each do |deck| %>
  			<li><a href='/deck/<%=deck.id %>/start'><%= deck.name %></a> [ <a href='/deck/<%=deck.id %>/cards'>Edit</a> | <a href='/deck/<%=deck.id %>/delete'>Delete</a> ]</li>
			<% end %>
    </ul>
    <ul>
    <form id="add_deck" action='/decks' method='post'>
      <div class="temp_add_deck_button">
        <li><input class="add_deck_button" type='button' value='Add New Deck' /></li>
      </div>
      <div class="sliding_panel" style="display: none;">
        <li><input id="deck_name" type='text' name='new_deck_name' /></li>
        <li><input type='submit' value='Save New Deck' /></li>
        <li><input class="cancel" type='submit' value='Cancel' /></li>
      </div>
    </form>
    </ul>
</div>

<script>
$(".add_deck_button").click(function () {
$(".temp_add_deck_button").hide();
$(".sliding_panel").fadeIn("slow");
document.getElementById("deck_name").focus();
});

$(".cancel").click(function () {
$(".sliding_panel").hide();
$(".temp_add_deck_button").fadeIn("slow");
});
</script>
