<div class="container">
  <h1>Select a Deck You Want to Play:</h1>
    <ul>
      <% @decks.each do |deck| %>
        <li><a href='/round/deck/<%=deck.id %>/card/1'><%= deck.name %></a></li>
      <% end %>
    </ul>
</div>
